body {
    display: flex; 
    flex-direction: column; 

    margin: 0;
    height: 100vh;
    width: 100vw;

    canvas {
        position: fixed;
        width: 100vw;
        height: 100vh;

        left: 0;
        bottom: 0;
    }

    > main {
        flex: 1;        

        display: flex; 
        flex-direction: row; 
        align-items: stretch;
        justify-content: flex-end;

        > aside {
            z-index: 1;
            max-width: 250px;        
            transition: all 200ms ease-in-out;    
        }

    }
}

@media screen and (max-width: 768px) {
    body > main > aside {
        max-width: 200px;
    }
}


form {
    padding: 0px 15px;
}

#navbar > div.container-fluid { 
    display: flex;
    align-items: center;
}

#navbarStatsContainer {
    flex: 1;

    display: flex; 
    align-items: center;
    justify-content: space-around;    
}

@font-face {
    font-family: shareTech;
    src: url(ShareTechMono-Regular.ttf);
}

.flightstrip {
    font-family: "shareTech" !important;
    font-size: 1em;
}

